.anbieter {
  background-color: $color-black;
  color: $color-white;
  font-family: $font-mark;
  font-size: 2rem;
  margin-bottom: 1rem;
  width: 100%;
  
  &:hover,
  &:focus {
    h3 {
      color: $color-green;
    }
  }
  
  &__title {
    text-align: center;
    text-transform: uppercase;
  }
  
  &__teaser {
    display: flex;
    align-items: center;
  }
  
  &__chart {
    flex: 0 0 50%;
  }
  
  &__legende {
    flex: 0 0 50%;
    
    h4, span {
      display: block;
      margin-top: 0rem;
      margin-bottom: 1rem;
    }
    p {
      font-weight: normal;
      font-size: 2rem;
      margin: 0;
    }
    [data-water] {
      color: #009ee3;
    }
    [data-wind] {
      color: white;
    }
    [data-solar] {
      color: #ffff00;
    }
  }
}
