.block {
  .view-regionalgruppen {
    ul {
      li {
        display: block;
        border-bottom: 3px dotted $color-grey;
        padding: 1rem 0;
        
        a {
          color: $color-green;
          font-size: 1.75rem;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
    }
  }
}
