.button {
  &--window {
    @include type('m4');
    border: 1px solid currentColor;
    border-radius: .5rem;
    color: currentColor;
    display: inline-block;
    padding: .8rem 1.5rem;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: $color-thunder;
      border-color: $color-thunder;
      color: white;
      text-decoration: none;
    }
  }

  &--is-centered {
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

  & + & {
    margin-left: 1.5rem;
  }
}
