.campaign {
  background-color: $color-thunder;
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  &__header {
    position: relative;

    > a {
      display: block;

      &,
      &:hover,
      &:focus {
        color: currentColor;
      }
    }
  }

  &__title {
    @include type('p1');
    left: 50%;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    > a {
      &,
      &:hover,
      &:focus {
        color: currentColor;
      }
    }
  }

  &__image-container {
    position: relative;

    img {
      height: auto;
      max-width: 100%;
    }

    &:after {
      @include triangle(top, $color-thunder, 1.5rem);

      bottom: 0;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
    }
  }

  &__teaser {
    @include type('m6');
    margin-bottom: 0;
    margin-top: 0;
    padding: 3rem;
  }
}
