.cta {
  
  background-color: $color-green;
  font-family: $font-mark;
  text-align: center;
  
  .cta_container {
    display: flex;
    flex-direction: row;
  }
  
  .cta_image-container,
  .cta_text-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex: wrap;
    width: 50%;
  }
  
  .cta_text-container {
    padding: 0 2rem 2rem;
    
    &.cta_large {
      padding: 3.5rem;
    }
    
    &::before {
      @include triangle(left, $color-green, 1.5rem);
    }
    
    .button {
      background-color: white;
      color: $color-green;
      
      &:hover,
      &:focus {
        background-color: $color-black;
      }
    }
  }
}
