/**
 * Styles for donation and membership forms as blocks using entityform_block
 * module. These styles are strictly bound to the existing configuration.
 */
.block-entityform-block.donation-membership-forms,
#commerce-checkout-form-checkout {
  //padding: 2rem 0;
  font-family: $font-mark;

  /**
   * General form layout styles.
   */
  .block-title {
    margin: 0;
    padding: 1rem;
    color: $color-white;
    background-color: $color-green;
    text-align: center;
  }

  form.entityform {
    margin: 2rem auto 4rem;
  }

  .pre-instructions {
    font-weight: bold;
  }

  .panel {
    border: none;
    margin: 0;
    padding: 0;

    border-top: 3px dotted grey;

    // Remove fieldset wrappers visually for unwanted output.
    &#edit-field-line-item-donation-und,
    &#edit-field-line-item-donation-und--2,
    &#edit-field-regular-donation-line-item-und,
    &#edit-field-regular-donation-line-item-und--2,
    &#edit-field-line-item-donation-und-form-line-item-details,
    &#edit-field-line-item-donation-und-form-line-item-details--2,
    &#edit-field-regular-donation-line-item-und-form-line-item-details,
    &#edit-field-regular-donation-line-item-und-form-line-item-details--2,
    &#edit-field-act-membership-line-item-und-form-line-item-details,
    &#edit-field-act-membership-line-item-und-form-line-item-details--2,
    &#edit-field-sup-membership-line-item-und-form-line-item-details,
    &#edit-field-sup-membership-line-item-und-form-line-item-details--2 {
      border: none;

      .panel-heading {
        display: none;
      }
    }

    .panel-heading {
      float: left;
      color: $color-green;
      text-transform: uppercase;
      font-weight: bold;
      margin: 1.5rem 0;
    }

    .panel-body {
      clear: both;
    }
  }

  button, input, select, textarea {
    border: 1px solid $color-black;
    padding: 0.5rem;
    line-height: 1;
  }

  .form-item {
    &.form-type-radio,
    &.form-type-checkbox {
      label {
        text-transform: none;
        font-weight: normal;
      }
    }

    label {
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .form-type-radio {
    label.control-label {
      position: relative;
      cursor: pointer !important;

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid $color-black;
        border-radius: 50%;
      }

      input.form-radio {
        appearance: none;
        display: inline-block;
        vertical-align: middle;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        border: none;
        margin: 0.0rem 1.5rem 0.5rem 0.5rem;
        cursor: pointer !important;

        &:checked {
          background-color: $color-green;
          outline: none;
        }
      }
    }
  }

  .form-type-checkbox {
    label.control-label {
      position: relative;
      cursor: pointer !important;

      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid $color-black;
      }

      input.form-checkbox {
        appearance: none;
        display: inline-block;
        vertical-align: middle;
        width: 1.5rem;
        height: 1.5rem;
        border: none;
        margin: 0.5rem 1.5rem 0.5rem 0.5rem;
        cursor: pointer !important;

        &:checked {
          background-color: $color-green;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }

  .form-actions,
  .checkout-buttons {
    text-align: center;
    margin-top: 2rem;
    border: none;

    .form-submit {
      display: inline-block;
      border-radius: 1rem;
      min-width: 20rem;
      padding: 1rem;
      margin: 0 1rem;
      font-weight: bold;
    }
  }

  .field-name-field-donation-is-recurring {
    border-top: 3px dotted grey;

    label[for="edit-field-donation-is-recurring-und"],
    label[for="edit-field-donation-is-recurring-und--2"]{
      color: $color-green;
      text-transform: uppercase;
      font-weight: bold;
      display: block;
      margin: 1.5rem 0;
    }
  }

  .form-item-field-regular-donation-line-item-und-form-field-membership-interval-und,
  .form-item-field-regular-donation-line-item-und-form-field-membership-interval-und--2,
  .form-item-field-sup-membership-line-item-und-form-field-membership-interval-und,
  .form-item-field-sup-membership-line-item-und-form-field-membership-interval-und--2,
  .form-item-field-act-membership-line-item-und-form-field-active-membership-amount-und-select,
  .form-item-field-act-membership-line-item-und-form-field-active-membership-amount-und-select--2 {
    > label {
      &[for="edit-field-regular-donation-line-item-und-form-field-membership-interval-und"],
      &[for="edit-field-regular-donation-line-item-und-form-field-membership-interval-und--2"],
      &[for="edit-field-sup-membership-line-item-und-form-field-membership-interval-und"],
      &[for="edit-field-sup-membership-line-item-und-form-field-membership-interval-und--2"],
      &[for="edit-field-act-membership-line-item-und-form-field-active-membership-amount-und-select"],
      &[for="edit-field-act-membership-line-item-und-form-field-active-membership-amount-und-select--2"]{
        display: none;
      }
    }
  }

  .field-name-field-donate-amount,
  .field-name-field-amount-month,
  .field-name-field-amount-quarter-year,
  .field-name-field-amount-half-year,
  .field-name-field-amount-year {
    .form-type-select-or-other {
      .form-type-radios {
        width: 100%;

        > label {
          display: none;
        }
      }
      .form-radios {
        display: flex;
        flex-wrap: wrap;
        position: relative;

        > * {
          flex: 1 0 0;
        }
      }
      .form-type-radio {
        text-align: center;

        label {
          &::before {
            display: none;
          }
        }

        input.form-radio {
          height: auto;

          &:focus {
            outline: none;
          }
        }

        &:not(:nth-last-child(2)) {
          label {
            padding: 1.5rem;
            border-radius: 2rem;
            color: $color-white;
            font-weight: 700;
            font-size: 3rem;
            position: relative;
            display: block;
            white-space: nowrap;
            z-index: 1;

            input.form-radio {
              appearance: none;
              display: block;
              border: none;
              margin: 0;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              background-color: grey;
              width: 100%;
              z-index: -1;
              border-radius: 1.5rem;

              &:checked {
                background-color: $color-green;
              }
            }
          }
        }
        &:nth-last-child(2) {
          flex-basis: 15rem;
          flex-grow: 0;
          text-transform: uppercase;
          text-align: left;
          position: relative;

          label {
            color: darkgrey;
            font-weight: bold;
            position: static;
          }

          input.form-radio {
            appearance: none;
            border: none;
            position: absolute;
            width: 100%;
            height: 100%;
            background: none !important;

            &:checked {
              background: none;
            }
          }
        }
      }
      .form-type-textfield {
        align-self: flex-end;
        position: absolute;
        right: 0;
        bottom: 0.25rem;
        display: block;
        width: 15rem;

        input {
          width: 12rem;
          margin-right: 1rem;
        }
      }
    }
  }

  .field-name-field-active-membership-amount {
    .form-radios {
      > .form-item {
        display: block;
        margin: 1rem 0;

        input.select-or-other-other {
          margin-right: 0.5rem;
        }
      }
    }
  }

  .field-type-commerce-customer-profile-reference {
    .form-item {
      &:not(.form-type-radio):not(.form-type-checkbox) {
        display: flex;
        margin-left: 0;
        margin-right: 0;

        > * {
          flex: 1 1 50%;
        }

        > label {
          text-align: right;
          margin-right: 1rem;
        }

        .form-text,
        .form-select {
          width: 100%;
        }
      }
    }

    div.addressfield-container-inline > div.form-item {
      float: none;
    }
  }

  .field-name-field-newsletter-email,
  .field-name-field-newsletter-postal {
    display: flex;

    &::before {
      content: '';
      flex: 1 1 50%;
    }

    > * {
      flex: 1 1 50%;
    }

    > .form-item {
      display: flex;
      position: relative;
      min-height: 2.5rem;

      > * {
        flex: 0 1 auto;
      }

      > label {
        position: absolute;
        right: 100%;
        width: 100%;
        height: 100%;
        text-align: right;
        margin-right: 0.5rem;
        text-transform: uppercase;
        font-weight: bold;

        &::before {
          right: -3.5rem;
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          left: 100%;
          right: -100%;
          top: 0;
          bottom: 0;
        }

        > input {
          position: absolute;
          right: -4.5rem;
        }
      }

      > .help-block {
        margin-left: 4rem;
      }
    }
  }

}

#commerce-checkout-form-checkout {

  margin-top: 2rem;
  margin-bottom: 3rem;

  .panel {
    &.commerce_payment {
      .form-item-commerce-payment-payment-method {
        display: block;
        margin: 1rem 0;

        label {
          a:last-child {
            display: none;
          }
        }
      }

      #payment-details {

        .form-item {
          &:not(.form-type-radio):not(.form-type-checkbox) {
            display: flex;
            margin-left: 0;
            margin-right: 0;

            > * {
              flex: 1 1 50%;
            }

            > label {
              flex: 1 1 50%;
              margin-right: 1rem;
              text-align: right;
              white-space: nowrap;
            }

            .form-select {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

#commerce-checkout-form-complete {
  font-family: $font-mark;
}
