.focus-list {
  @include full-content-area();

  &__title {
    @include type('m12');
    color: white;
    display: block;
    background-color: grey;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__items-container {
    background-color: $color-concrete;
    padding: 1.5rem;
  }

  &__item {
    &-title {
      color: $color-thunder;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;

      a {
        color: currentColor;
      }
    }

    &-teaser {
      @include type('m6');
    }
  }
}
