.focus-list {
  &__title {
    display: block;
    background-color: grey;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
  }

  &__items-container {
    background-color: $color-concrete;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }
}
