.more {
  color: currentColor;
  height: .5rem;
  margin-left: .5rem;
  width: 2.5rem;

  &--is-green {
    color: $color-atlantis;
  }

  &--is-grey {
    color: $color-thunder;
  }

  &--is-white {
    color: white;
  }
}
