.social-media {
  color: currentColor;
  display: inline-block;
  height: 3.2rem;
  line-height: 1;
  text-align: center;
  width: 3.2rem;

  &:hover,
  &:focus {
    color: $color-atlantis;
  }

  &__icon {
    height: 100%;
    width: 100%;
  }

  & + & {
    margin-left: 1.5rem;
  }
}
