.teaser {
  &__title {
    @include type('t1');
    margin-bottom: .5rem;
    margin-top: 0;
    text-align: center;

    &,
    a {
      color: currentColor;

      &:hover,
      &:focus {
        color: currentColor;
      }
    }
  }

  &__publication-date {
    @include type('m3');
    color: $color-atlantis;
    display: block;
    margin-bottom: .5rem;
    margin-top: 1.5rem;
  }

  &__category {
    @include type('m8');
    color: $color-atlantis;
    margin-right: .5rem;
    text-transform: uppercase;
  }

  // todo
  &__image-container {
    margin-bottom: 1.5rem;
    position: relative;

    img {
      height: auto;
      max-width: 100%;
    }

    &:after {
      @include triangle(top, white, .8rem);

      bottom: 0;
      content: ' ';
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
    }
  }

  &__text {
    @include type('m6');
  }
}
