.teaser {
  &__title {
    margin-bottom: .5rem;
    margin-top: 0;
    text-align: center;

    &,
    a {
      color: currentColor;

      &:hover,
      &:focus {
        color: currentColor;
      }
    }
  }

  &__publication-date {
    color: $color-atlantis;
    display: block;
    font-size: .9rem;
    margin-bottom: .5rem;
  }

  // todo
  &__image-container {
    position: relative;

    img {
      height: auto;
      max-width: 100%;
    }

    &:after {
      @include triangle(top, white, .8rem);

      bottom: 0;
      content: ' ';
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
    }
  }
}
