@mixin clearfix() {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
      clear: both;
  }
}

@mixin small {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
