/* Colors */

$color-green: #a2c516;
$color-black: #191919;

/* Fonts */

$font-plakkaat: Plakkaat, sans-serif;
$font-tisa: Tisa, serif;
$font-mark: MarkWebPro, sans-serif;

/*$font-weight-plakkaat: 400;

$font-weight-tisa-bold: 700;
$font-weight-tisa-medium: 500;

$font-weight-mark-black: 900;
$font-weight-mark-bold: 700;
$font-weight-mark-medium: 500;*/
