@font-face {
  font-family: "MarkWebPro";
  font-weight: 900;
  src: url("../fonts/markwebpro-black-w01-regular/markwebpro-black-w01-regular.eot?#iefix");
  src:
    url("../fonts/markwebpro-black-w01-regular/markwebpro-black-w01-regular.eot?#iefix") format("eot"),
    url("../fonts/markwebpro-black-w01-regular/markwebpro-black-w01-regular.woff2") format("woff2"),
    url("../fonts/markwebpro-black-w01-regular/markwebpro-black-w01-regular.woff") format("woff"),
    url("../fonts/markwebpro-black-w01-regular/markwebpro-black-w01-regular.ttf") format("truetype");
}

@font-face {
  font-family: "MarkWebPro";
  font-weight: 700;
  src: url("../fonts/markwebpro-bold-w01-regular/markwebpro-bold-w01-regular.eot?#iefix");
  src:
    url("../fonts/markwebpro-bold-w01-regular/markwebpro-bold-w01-regular.eot?#iefix") format("eot"),
    url("../fonts/markwebpro-bold-w01-regular/markwebpro-bold-w01-regular.woff2") format("woff2"),
    url("../fonts/markwebpro-bold-w01-regular/markwebpro-bold-w01-regular.woff") format("woff"),
    url("../fonts/markwebpro-bold-w01-regular/markwebpro-bold-w01-regular.ttf") format("truetype");
}

@font-face {
  font-family: "MarkWebPro";
  src: url("../fonts/markwebpro-medium-w01-regular/markwebpro-medium-w01-regular.eot?#iefix");
  src:
    url("../fonts/markwebpro-medium-w01-regular/markwebpro-medium-w01-regular.eot?#iefix") format("eot"),
    url("../fonts/markwebpro-medium-w01-regular/markwebpro-medium-w01-regular.woff2") format("woff2"),
    url("../fonts/markwebpro-medium-w01-regular/markwebpro-medium-w01-regular.woff") format("woff"),
    url("../fonts/markwebpro-medium-w01-regular/markwebpro-medium-w01-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Tisa";
  font-weight: 500;
  src: url("../fonts/tisa-w05-medium/tisa-w05-medium.eot?#iefix");
  src:
    url("../fonts/tisa-w05-medium/tisa-w05-medium.eot?#iefix") format("eot"),
    url("../fonts/tisa-w05-medium/tisa-w05-medium.woff2") format("woff2"),
    url("../fonts/tisa-w05-medium/tisa-w05-medium.woff") format("woff"),
    url("../fonts/tisa-w05-medium/tisa-w05-medium.ttf") format("truetype");
}

@font-face {
  font-family: "Tisa";
  font-weight: 700;
  src: url("../fonts/tisa-w05-bold/tisa-w05-bold.eot?#iefix");
  src:
    url("../fonts/tisa-w05-bold/tisa-w05-bold.eot?#iefix") format("eot"),
    url("../fonts/tisa-w05-bold/tisa-w05-bold.woff2") format("woff2"),
    url("../fonts/tisa-w05-bold/tisa-w05-bold.woff") format("woff"),
    url("../fonts/tisa-w05-bold/tisa-w05-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Plakkaat";
  src: url("../fonts/plakkaat/plakkaat.eot?#iefix");
  src:
    url("../fonts/plakkaat/plakkaat.eot?#iefix") format("eot"),
    url("../fonts/plakkaat/plakkaat.woff2") format("woff2"),
    url("../fonts/plakkaat/plakkaat.woff") format("woff"),
    url("../fonts/plakkaat/plakkaat.ttf") format("truetype");
}
